<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="AspNetIdentity:CreateTables" value="" xdt:Locator="Match(key)" xdt:Transform="Remove" />
    <add key="AspNetIdentity:TablePrefix" value="" xdt:Locator="Match(key)" xdt:Transform="Remove" />
    <add key="GitHubAuth:ClientId" value="" xdt:Locator="Match(key)" xdt:Transform="Remove" />
    <add key="GitHubAuth:ClientSecret" value="" xdt:Locator="Match(key)" xdt:Transform="Remove" />
    <add key="GoogleAuth:ClientId" value="" xdt:Locator="Match(key)" xdt:Transform="Remove" />
    <add key="GoogleAuth:ClientSecret" value="" xdt:Locator="Match(key)" xdt:Transform="Remove" />
    <add key="GoogleMaps:ApiKey" value="" xdt:Locator="Match(key)" xdt:Transform="Remove" />
    <add key="MicrosoftAuth:ClientId" value="" xdt:Locator="Match(key)" xdt:Transform="Remove" />
    <add key="MicrosoftAuth:ClientSecret" value="" xdt:Locator="Match(key)" xdt:Transform="Remove" />
    <add key="TwitterAuth:ConsumerKey" value="" xdt:Locator="Match(key)" xdt:Transform="Remove" />
    <add key="TwitterAuth:ConsumerSecret" value="" xdt:Locator="Match(key)" xdt:Transform="Remove" />
  </appSettings>
  <connectionStrings>
    <add name="AzureStorageAccount" connectionString="" xdt:Locator="Match(name)" xdt:Transform="Remove" />
  </connectionStrings>
  <log4net>
    <appender name="LogFileAppender" xdt:Locator="Match(name)" xdt:Transform="Remove" />
    <appender name="PapertrailAppender" xdt:Locator="Match(name)">
      <identity value="martincostello.com %P{log4net:HostName}" xdt:Transform="SetAttributes(value)" />
    </appender>
    <root>
      <level value="Info" xdt:Transform="SetAttributes(value)" />
      <appender-ref ref="LogFileAppender" xdt:Locator="Match(ref)" xdt:Transform="Remove" />
    </root>
  </log4net>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="On" defaultRedirect="~/Error" xdt:Transform="Replace">
      <error statusCode="400" redirect="~/Error/BadRequest" />
      <error statusCode="404" redirect="~/Error/NotFound" />
      <error statusCode="405" redirect="~/Error/MethodNotAllowed" />
      <error statusCode="500" redirect="~/Error/InternalServerError" />
      <error statusCode="503" redirect="~/Error/ServiceUnavailable" />
    </customErrors>
  </system.web>
  <system.webServer>
    <httpErrors errorMode="DetailedLocalOnly" xdt:Transform="Replace">
      <remove statusCode="400" />
      <remove statusCode="404" />
      <remove statusCode="405" />
      <remove statusCode="500" />
      <remove statusCode="503" />
      <error statusCode="400" responseMode="ExecuteURL" path="/Error/BadRequest" />
      <error statusCode="404" responseMode="ExecuteURL" path="/Error/NotFound" />
      <error statusCode="405" responseMode="ExecuteURL" path="/Error/MethodNotAllowed" />
      <error statusCode="500" responseMode="ExecuteURL" path="/Error/InternalServerError" />
      <error statusCode="503" responseMode="ExecuteURL" path="/Error/ServiceUnavailable" />
    </httpErrors>
  </system.webServer>
</configuration>